<div class="card">

  <div class="image-container">
    <img
      [src]="product.images[currentImageIndex]"
      [alt]="product.name"
    />

    <button class="nav left" (click)="prevImage()">‹</button>
    <button class="nav right" (click)="nextImage()">›</button>
  </div>

  <div class="thumbnails">
    <img
      *ngFor="let img of product.images; let i = index"
      [src]="img"
      [class.active]="i === currentImageIndex"
      (click)="selectImage(i)"
    />
  </div>

  <h3>{{ product.name }}</h3>
  <p>{{ product.description }}</p>

  <p>{{ product.price | number }} ₸</p>
  <p>⭐ {{ product.rating }}</p>

  <p>❤ {{ product.likes }}</p>

  <button (click)="like()">Like</button>
  <button (click)="deleteProduct()">Delete</button>
  <button (click)="shareWhatsApp()">Share</button>

</div>