* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(90deg, #000000, #0f1c24);
    color: white;
}

/* ОСНОВНАЯ СЕТКА */
.page {
    display: flex;
    height: 100vh;
}

/* ЛЕВАЯ СТОРОНА */
.left {
    flex: 1.2;
    padding: 60px;
    position: relative;
    text-align: center;
}

.insta-icon {
    width: 50px;
    position: absolute;
    top: 40px;
    left: 40px;
}

.left h1 {
    font-size: 42px;
    line-height: 1.3;
    margin-top: 120px;
}

.orange {
    color: #ff6a00;
}

.pink {
    color: #ff00aa;
}

.preview {
    margin-top: 60px;
    width: 420px;
}

/* ПРАВАЯ СТОРОНА */
.right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ФОРМА */
.login-box {
    width: 420px;
    background-color: #0f1c24;
    padding: 40px;
    border-radius: 12px;
}

.login-box h3 {
    margin-bottom: 20px;
}

.login-box input {
    width: 100%;
    padding: 14px;
    margin-bottom: 14px;
    background-color: #16242d;
    border: 1px solid #2c3e50;
    border-radius: 10px;
    color: white;
    font-size: 14px;
}

.login-box input::placeholder {
    color: #9aa5ad;
}

.login-btn {
    width: 100%;
    padding: 12px;
    background-color: #0a3d70;
    border: none;
    border-radius: 20px;
    color: #8ab4f8;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
}

.forgot {
    display: block;
    margin: 20px 0;
    text-align: center;
    color: #8ab4f8;
    text-decoration: none;
    font-size: 14px;
}

.fb-btn,
.new-btn {
    width: 100%;
    padding: 12px;
    margin-bottom: 12px;
    background: transparent;
    border: 1px solid #2c3e50;
    border-radius: 20px;
    color: #8ab4f8;
    cursor: pointer;
}

.meta {
    text-align: center;
    margin-top: 20px;
    color: #9aa5ad;
}

